.toolbar-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background-color: #f44336;
    color: white;
}

.toolbar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  flex: 99;
  padding: 12px 10px;
}

.logo-img {
    max-height: 40px;
    padding: 4px 0 4px 12px;
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 6px;
}

.logo-subtitle {
    font-weight: 600;
}